@page
@model TGLWebApp.Pages.Students.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit student</h1>

<form method="post">
    <input hidden asp-for="Student.Id"/>
    Name
    <input asp-for="Student.Name" />
    LastName
    <input asp-for="Student.LastName" />
    Nit
    <input asp-for="Student.Nit" />
    Age
    <input asp-for="Student.Age" />
    <button type="submit" class=" btn green text-white">Save</button>
</form>

<br />
<a asp-page="./Index" class="light-blue darken-1 text-white btn">Return to list</a>